@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.toolbar {
    list-style-type: none;
    display: flex;
    font-family: 'Roboto', sans-serif;
    gap: 10px;
    margin-bottom: 10px;
}

.filter {
    padding: 5px;
    border: 1px solid grey;
    cursor: pointer;
}

.filter-selected {
    color: white;
    background-color: gray;
}